html {
    display: flex;
    justify-content: center;
}

body{
    width: 1100px;
    /* height: 635px; */
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons_div {
    width: 1100px;
    text-align: center;
    padding: 0 0 2em 0;
}

.container_div {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1px; */
    justify-content: center;
    box-shadow: 0px 10px 20px 20px #c8c8c8;
}

.child_div {
    width: 30px;
    height: 30px;
    /* background-color: rgb(180, 84, 84); */
}

.childDivHovered {
    background-color: rgb(180, 84, 84);
}